<!doctype html>
{% load static %}
{%include 'dashboard/navbar.html'%}
<html>
<head>
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/result.css' %}" />

</head>

    <body>
        {%block body%}
        <section class="head1">
            <h1 style="padding-left: 580px; padding-top: 20px; padding-bottom: 20px;">Live Result</h1>
        </section>

        

        <form>
            <section style="padding-top: 10px; padding-left: 30px;">
                
                <select name="semester">
                    <option value="sm">Summer 2020</option>
                    <option value="sp">Spring 2020</option>
                    <option value="fl">Fall 2020</option>
                </select>
            </section>
        </form>
        <div style="padding-left: 20px; padding-right: 20px;">
            <section class="box" style="margin-top: 30px; box-shadow: 0 4px 8px 0 rgba(26, 24, 24, 0.2); ">
                <div style="border-bottom: 1.5px solid grey">
                    <h2 style="padding-bottom :5px;padding-top: 5px;padding-left: 500px; background: paleturquoise;">
                        Live Result
                    </h2>
                </div>
        
            </section>
        </div>  

        {%endblock%}









        

    </body>
    
    </html>        