* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
.head{
    background: lightgrey;
    color: black;
    padding-bottom: 30px;

}
select {
  width: 40%;
  padding: 18px;
  padding-top: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgba(86, 138, 158, 0.397);
  border-top: 20px;
  border-bottom: 2px solid blue;
}